html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
p {
  font-size: 18px;
}
h2 {
  text-align: center;
  font-size: 25px;
  margin: 10px 0;
}
.container {
  background: #f0f0f0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  display: flex;
}
.main {
  width: 70%;
}
.logs {
  width: 30%;
  background-color: #292b2c;
  color: white;
  padding: 0 15px;
}

/*--------------------
Buttons
--------------------*/
button {
  cursor: pointer;
  color: #fff;
  border: none;
  font-size: 16px;
  box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.19),
    0 6px 20px 0 rgba(165, 165, 165, 0.19);
  padding: 6px 15px;
  margin-right: 8px;
}
.btn-color {
  border-radius: 6px;
  background: #6337e4;
}
.btn-color:hover {
  border-radius: 6px;
  background: #896ae6;
}
.button-container {
  margin-left: 50px;
  align-items: end;
  display: flex;
}

/*--------------------
Editor
--------------------*/
.edit-content {
  margin-top: 40px;
}
.editor {
  min-height: 62vh;
  width: 80%;
  background: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
  margin-left: 8%;
  margin-right: 5%;
  outline: none;
}
.line {
  display: flex;
}
.line-number {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  color: gray;
}

/*--------------------
Form
--------------------*/
.form-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

fieldset {
  border: none;
  padding: 0;
  position: relative;
  clear: both;
}
label {
  display: block;
  text-transform: uppercase;
  font-size: 11px;
  color: hsla(0, 0, 0, 0.6);
  margin-bottom: 5px;
}

input,
.select {
  position: relative;
  width: 82px;
  margin-right: 8px;
  height: 12px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  outline: none !important;
  box-shadow: 0 4px 8px 0 rgba(148, 148, 148, 0.19),
    0 6px 20px 0 rgba(165, 165, 165, 0.19);
  background-color: white;
  border: none;
}

.select::after {
  content: "";
  border-top: 8px solid #222;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  z-index: 2;
  top: 12px;
  right: 15px;
  pointer-events: none;
}

select {
  appearance: none;
  position: absolute;
  top: 5px;
  border: none;
  width: 82%;
  padding-bottom: 8px;
  outline: none !important;
  background: none;
}
label[for="select-line-number"] + .select {
  width: 60px;
}
label[for="action"] + .select {
  width: 100px;
}
label[for="text"] + input {
  width: 300px;
}
/*--------------------
Logs
--------------------*/
#text-logs {
  max-height: 90vh;
  overflow-y: scroll;
  font-size: 14px;
}
.horloge {
  text-align: center;
  margin-bottom: 10px;
}
